# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Sckit
4. Matplotlib
5. Seaborn

| Data |
|------|
|Jupyter Notebook|
|RStudio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- Show code examples
- Give a taste of Jupyter Notebook
- Provide introduction practical example of Data Science

## Author
Peter Black